{% extends "base.html" %}

{% block content %}

<div id="listing_tile">
  <li>
    <div id="coming_soon">
      <ul>
	<li>medical practice is shifting to a more centralized and academic
	  model</li>
	<li>medical education parallels this with recent curricular trends
	  toward built-in protected research time</li>
	<li>attending physicians have access to valuable data and need help
	  publishing research</li>
	<li>medical students, more than ever, need to establish an academic
	  CV and find a research focus of relevance to their clinical aspirations</li>
	<li id="implies">projectMed.org is a web service designed to better connect
	  medical students across the country with research projects relevant
	  to their career pursuits</li>
      </ul>
    </div>
  </li>
</div>

{% endblock content %}

{% block navigation %}

<ul id="nav_toolbar">
  <li><a href="/contact/">contact</a></li>
</ul>
    
{% endblock navigation %}
