<!DOCTYPE html>
<html lang="en-us" >
<head>

<title>projectMed | {{ pagetitle }}</title>
<link rel="stylesheet" type="text/css" href="/static/apps/css/base.css" />
<link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="/static/apps/css/mobile.css" />
<!--<link rel="stylesheet" type="text/css" href="/static/apps/css/mobile.css" />-->

<link rel="shortcut icon" href="/static/images/favicon-16.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/apple-touch-icon-72x72-precomposed.png">

<!--script to hide stuff-->
<script type="text/javascript">
   function unhide(divID) {
      var item = document.getElementById(divID);
      if (item) {
         item.className=(item.className=='hidden')?'unhidden':'hidden';
      }
   }
</script>

<!--script to close windows-->
<script type="text/javascript">
   function close_window() {
      close();
   }
</script>

<!--analytics-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39094905-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type =
    'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
    'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();

</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

{% block extra_head %}
{% endblock extra_head %}

</head>
<body>

  <div id="top">
    <div id="header">
      <span id="project">project</span><span id="Med">Med</span>
    </div>
    
    <div id="page">
      {{ pagetitle|upper }}
    </div>
    
    <div id="slogan">
      <p>
	bridging the gap between principal
	investigators and medical students
      </p>
    </div>
    
  </div>

<div id="top_background">
</div>

{% block  sorting %}
{% endblock sorting %}

{% block content %}
{% endblock content %}

{% block description %}
{% endblock description %}

{% block navigation %}
<ul id="nav_toolbar">
  <li><a href="/submit/">submit</a></li>
  <li><a href="/browse/">browse</a></li>
  <li><a href="/blog/" target="_blank">blog</a></li>
  <li><a href="/about/" target="_blank">about</a></li>
  <li><a href="/contact/" target="_blank">contact</a></li>
  <li><a href="/terms/" target="_blank">terms</a></li>
</ul>
{% endblock navigation %}

{% block bottom %}

<hr style="clear:both;" width="60%">

<div id="blurb" class="centered">
  <p>
    projectMed.org reimagines the way that medical students discover
    and connect with research opportunities by giving principal
    investigators an easy way to share what they're working on
  </p>
  <p>
    &copy 2014
  </p>
</div>

{% endblock bottom %}

</body>

</html>
